*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
}
/* ------------------------------------------------- */
a{
    color: unset;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    outline: 0;
}
ul{
    list-style: none;
    display: inline-block;
}
/* -------------------------------------------------- */
.container{
    width: 80%;
    margin: auto ;
    /* height: 800px; */
 }
/* ------------------------------------------------ */
nav{
    width: 100%;
    height: 100px;
    padding: 6% 0;
    box-shadow: rgba(244, 229, 229, 0.168) 0px 25px 20px -20px;
}
nav .nav-container{
    padding: 1% 0;
    height: 66px;
     margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 800;
 }
nav .logo{
     /* background-color: wheat; */
    font-size: 40px;
    font-weight: 700;
    flex-grow: 1;
    color: #7f939c;
}
nav .logo::first-letter {
    color: #725158;
}
nav ul{
     list-style: none;
    flex-grow: 3;
    text-align: center;
    font-size: 19px;
    color: 1e2631;
    z-index: 11;
   position: relative;
   transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
nav ul table{
     color: #614047;
}
nav ul table {
    position: absolute;
    top: 50px;
    left: 70px;
    border: 2px solid #725158;
    background-color: #d6dce6;
    padding: 15px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    text-align: left;
    font-size: 16px;
}
/* table caption{
    border-collapse: separate;
    display: inline-block;
} */
nav ul .home:hover + table { 
    transform: scale(1);
  -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
nav ul table td {
   padding: 11px;
   margin: 11px;
}
nav ul table tr:nth-child(1){
    text-decoration: 2px underline dotted rgb(143, 162, 188);
    font-size: 17px;
}
nav ul li{
    display: inline-block;
    padding: 6px 20px;
    margin: 0 4px;
    position: relative;
    color: #3d4e65;
}
nav ul li::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border: 2px solid transparent;
}
nav ul li:hover::after {
    width: 100%;
    height: 100%;
    border-right: 2px solid #6d484f;
    border-left: 2px solid #6d484f;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
nav ul li::before {
     content: '';
     position: absolute;
     left: 0%;
     top: 0%;
     width: 0%;
     height:100%;
     transition: all .5s ease-out;
     -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
     -ms-transition: all .5s ease-out;
     -o-transition: all .5s ease-out;
     border: 2px solid transparent;
}
nav ul li:hover::before {
        width: 100%;
        border-bottom: 2px solid #583c42;
        border-top: 2px solid #583c42;
}
nav .nav-icon-box {
        /*background-color: rgb(236, 195, 236);
        */flex-grow: 2;
        text-align: right;
        cursor: pointer;
        position: relative;   
}
nav .nav-icon-box i{
    color: #725158;
    display:inline-block;
    margin-right: 20px;
    transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
}
nav .nav-icon-box i:nth-child(2)::after {
  content:  '0';
  position: absolute;
bottom: -10px;
    right: 5px;
    width: 14px;
    height: 14px;
  border-radius: 50%;
  background-color: #725158;
  color: #d6dce6;
  font-size: 12px;
  text-align: center;
}
nav .nav-icon-box i:hover {
    color: #4a2d33;
}
nav span{
    color: #7f939c;
    display:inline-block;
     /* background-color: yellow; */
     flex-grow: 1;
     text-align: right;
}

/* ------------------ end nav ------------------------------ */

.mainBoxBig{
background-image: radial-gradient(circle, rgb(120, 99, 99) 10% , rgb(130, 142, 163) 80%  );
background-size: cover;
width: 100%;
height: 600px;
margin: 4% 0;
display: flex;
justify-content: space-around;
align-items: center;
    /* margin: auto; */
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    user-select: none;
}
.mainBoxBig::after{
    content: '98' ;
    position: absolute;
    left:-10px;
    top:-100px;
    font-size: 700px;
    font-weight: 800;
    color: #8d6a72;
    z-index: -1;
    opacity: 30%;
}
.mainBoxBig .mainTextBox{
 /* background-color: #ee8ea3; */
 width: 44%;

}
.mainBoxBig .mainTextBox h2{
font-size: 55px;
line-height: 1.5;
margin: 8%;
color: #e9d5d9;
}
.mainBoxBig .mainTextBox button{
     border: none;
     padding: 12px 32px;
     background-color: #3d4e65;
     margin: 0 12% ;
     color: #e3cdd2;
     border-radius:10px;
     -webkit-border-radius:10px;
     -moz-border-radius:10px;
     -ms-border-radius:10px;
     -o-border-radius:10px;
     text-transform: capitalize;
     cursor: pointer;
     font-size: 17px;
     transition: all .4s ease;
     -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
     -ms-transition: all .4s ease;
     -o-transition: all .4s ease;
}
.mainBoxBig .mainTextBox button:hover {
        background-color: #5d474b;
        color: #7895a5;
        /* width: 100%; */
}
.mainBoxBig .mainImgBox {
    width: 44%;
    /* background-color: #C85C74; */
    text-align: center;
}
.mainBoxBig .mainImgBox img{
    width: 50%;
    border-radius: 88px 30px  77px 20px;
    -webkit-border-radius: 88px 30px  77px 20px;
    -moz-border-radius: 88px 30px  77px 20px;
    -ms-border-radius: 88px 30px  77px 20px;
    -o-border-radius: 88px 30px  77px 20px;
}

/* ---------------------end main-------------------------------- */

.specialBigBox{
    width: 100%;
    margin: 4% auto 6% auto;
}

 .title{
    width: 100%;
    text-align: center;
    margin: 4% auto;
}
  .title h2{
font-size: 32px;
text-transform: capitalize;
color: #725158;
}
.title .line{
    height: 3px;
    width: 99px;
    background-color: #263447;
    margin: 1% auto;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.title:hover .line{
      transform:scaleX(1.5);
      -webkit-transform:scaleX(1.5);
      -moz-transform:scaleX(1.5);
      -ms-transform:scaleX(1.5);
      -o-transform:scaleX(1.5);
}

.specialBigBox .topSpecialBox{
width: 100%;
display: flex;
}
 .specialBigBox .topSpecialBox .specialImgBox{
width: 20%;
height: 400px;
position: relative;
padding: 1%;
/* background-color: #2d434a; */
}

 /* .specialBigBox .topSpecialBox .specialImgBox::after {
    content: ' > ';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: #2d434a;
    color: #e3cdd2;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
} */

 .specialBigBox .topSpecialBox .specialImgBox i{
    position: absolute;
    bottom:0%;
    right: 0%;
    width: 30px;
    height: 30px;
    padding: 1.5%;
    background-color: #2d434a;
    color: #e3cdd2;
    text-align: center;
    font-size: 22px;
    font-weight:800;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

 .specialBigBox .topSpecialBox .specialImgBox:hover i{
visibility: visible; 
opacity: 1;
}
 .specialBigBox .topSpecialBox .specialImgBox img {
        width: 100%;
        height: 80%;
        border-radius: 7px;
        filter: grayscale(35%);
        -webkit-filter: grayscale(35%);
}

 .specialBigBox .topSpecialBox .specialImgBox h6 {
font-size: 15px;
color: #b59ca1;
font-weight: lighter;
line-height: 2;
 }
 .specialBigBox .topSpecialBox .specialImgBox h4 {
font-size: 18px;
color: #6d373b;
}

/* -------------------------------- */

 .specialBigBox .meddilSpecialBox{
    width: 100%;
    height: 300px;
display: flex;
justify-content: space-between;
/* background-color: rgb(175, 158, 190); */
margin: 4% 0;
}
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs {
        flex-grow: 1;
        background-color: #7f939c;
        padding: 2%;
        background-size: cover;
        width: 150px;
        /*margin: 0 1% 0 0;
        */position: relative;
        filter: grayscale(30%);
        -webkit-filter:grayscale(40%);
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        filter:grayscale(40%);
}
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs:nth-child(1) {
     flex-grow: 4;
     background-color: #f3d7dd;
 }
  .specialBigBox .meddilSpecialBox .specialMeddilBoxs:nth-child(2){
    background-image: url(../img/1515.png);
        /* background-image: url(../img/depositphotos_143103201-stock-photo-spiral-galaxy-and-space-nebula.jpg); */
    margin: 0 1.5%;
  }
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs:nth-child(3) {
    /* background-image: url(../img/depositphotos_145389041-stock-photo-beautiful-nebula-and-galaxy-elemments.jpg); */
    background-image: url(../img/1818.png);
 }
  .specialBigBox .meddilSpecialBox .specialMeddilBoxs:nth-child(3):hover ,  .specialBigBox .meddilSpecialBox .specialMeddilBoxs:nth-child(2):hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  .specialBigBox .meddilSpecialBox .specialMeddilBoxs i 
  {
    position: absolute;
        left: 2%;
        top: 11%;
        font-size: 44px;
        color: #725158;
  }
 /* .specialBigBox .meddilSpecialBox .specialMeddilBoxs h2::before {
      content: "،،";
       position: absolute;
      left: -11px;
      top: 0;
      font-size: 88px;
      color: #725158;
  } */
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs h2 {
    font-size: 33px;
    color: #4c606d;
    margin-left: 7%;
 }
   .specialBigBox .meddilSpecialBox .specialMeddilBoxs span {
       display: block;
        margin: 0 0 5% 7% ;
   }
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs p {

line-height: 2;
color: #263447;
 }
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs .smallines {
width: 25%;
height: 10%;
display: flex;
justify-content: space-evenly;
text-align: right;
position: absolute;
right: 2%;
bottom: 4px;
 }
 .specialBigBox .meddilSpecialBox .specialMeddilBoxs .smallines .lin {
width:50px;
height: 2px;
background-color: #4a2d33;
margin: 4px;
 }
.specialBigBox .meddilSpecialBox .specialMeddilBoxs h4 {
       font-size: 24px;
       color: #cea6ac;
 }
.specialBigBox .meddilSpecialBox .specialMeddilBoxs h5 {
       font-size: 20px;
       color: #a9d4f1;
       font-weight: 300;
}

/* -------------------------------- */

 .specialBigBox .bottomSpecialBox{
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
margin: 6% auto;
}
 .specialBigBox .bottomSpecialBox .specialbottomBoxs{
    /* width: 100%; */
    /* height: 200px; */
    padding: 2%;
    transition:all .4s ease;
     -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    -webkit-transition:all .4s ease;
    /* background-color: #c86478; */
        position: relative;
}

 .specialBigBox .bottomSpecialBox .specialbottomBoxs:not( .specialbottomBoxs:nth-child(5) ){
border-right: 1px solid #1e2631 ;
}

 .specialBigBox .bottomSpecialBox .specialbottomBoxs .SpecialIconTrans {
     /* background-color: #5b6968; */
    position: relative;
    width: 60px;
    height: 60px ;
    margin: auto;
    overflow: hidden;
 }

 .specialBigBox .bottomSpecialBox .specialbottomBoxs .SpecialIconTrans i{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        color: #947f83;
        font-size: 40px;
        margin: 4% 1%;
        padding: 0 2%;
        margin: auto;
        transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        -webkit-transition: all .6s ease;
}
 .specialBigBox .bottomSpecialBox .specialbottomBoxs .SpecialIconTrans i:nth-child(1) {
     color: #a68087;
     left: 50%;
     top:50%;
 }
 .specialBigBox .bottomSpecialBox .specialbottomBoxs .SpecialIconTrans i:nth-child(2){
    color: #84acbb;
    left: 50%;
    top: -60%;
 }
 .specialBigBox .bottomSpecialBox .specialbottomBoxs .SpecialIconTrans:hover i:nth-child(2) {
     top: 50%;
 }
  .specialBigBox .bottomSpecialBox .specialbottomBoxs .SpecialIconTrans:hover i:nth-child(1) {
      top: -60%;
  }

 .specialBigBox .bottomSpecialBox .specialbottomBoxs h3 {
margin: 11px 0;
color: #395466;
 }
 .specialBigBox .bottomSpecialBox .specialbottomBoxs span {
display: block;
font-weight: 200;
font-size: 16px;
color: #725158;
}

/* ---------------------end specialBigBox ---------------------------- */

.featuers{
   width: 100%;
   margin: 6% auto; 
   text-transform: capitalize;
}
.featuers .topFeatuer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #8d6a72; */
    text-align: center;
}
.featuers .topFeatuer ul {
    display: inline-block;
    padding: 1%;
    width: 100%;
    /* background-color: rgb(210, 180, 210); */
    margin: auto;
}
.featuers .topFeatuer ul li{
    display: inline-block;
    padding: 2%;
    /*background-color: rgb(255, 240, 244);
    */font-size: 22px;
    font-weight: 700;
    color: #967077;
    cursor: pointer;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.featuers .topFeatuer ul li:hover{
    color: #4c606d;
}
.featuers .boxBotomFeatuers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* background-color: #b59ca1; */
}
.featuers .boxBotomFeatuers .imgBox{
width: 30%;
padding: 1%;
/* background-color: tomato; */
}
.featuers .boxBotomFeatuers .imgBox .imge{
      width: 100%;
      height: 380px;
      /*background-color: turquoise;*/
      margin: 3% 0;
      position: relative;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
        opacity: 99%;
}
.featuers .boxBotomFeatuers .imgBox .imge .imgeoverlay{
        width: 100%;
        height:100%;
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
 }
.featuers .boxBotomFeatuers .imgBox .imge:hover .imgeoverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 80%;
    visibility: visible;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
 }
.featuers .boxBotomFeatuers .imgBox .imge .imgeoverlay .iconBox {
    display: flex;
    justify-content: center;
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50% , -50%) ;
    -webkit-transform:translate(-50% , -50%) ;
    -moz-transform:translate(-50% , -50%) ;
    -ms-transform:translate(-50% , -50%) ;
    -o-transform:translate(-50% , -50%) ;
 
}
 .featuers .boxBotomFeatuers .imgBox .imge .imgeoverlay .iconBox i{
     background-color: #b19299;
     padding: 8%;
     margin: 4%;
     color: #3e4f66;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}
.featuers .boxBotomFeatuers .imgBox .imge img {
      width: 100%;
      height: 100%;
      border-radius: 33px ;
      -webkit-border-radius: 33px ;
      -moz-border-radius: 33px ;
      -ms-border-radius: 33px ;
      -o-border-radius: 33px ;
}
.featuers .boxBotomFeatuers .imgBox .textBox{
padding: 1% 5%;
/* background-color: rgb(158, 158, 133); */
}
.featuers .boxBotomFeatuers .imgBox .textBox .iconBox i {
color: burlywood;
margin-bottom: 2%;
}
.featuers .boxBotomFeatuers .imgBox .textBox p{
font-size: 18px;
padding: 1% ;
color: #75565d;
}
.featuers .boxBotomFeatuers .imgBox .textBox strong {
font-size: 20px;
color: #7f939c;
padding: 1%;
}

/* ------------------------------------------------------------------start footer */

footer{
    width: 100%;
    background-color:#1e2631 ;
    text-align: center;
    margin:4% auto 0 auto;
    /*position: fixed;
    bottom: 0;*/
    z-index: 2;
    border-radius: 18px 18px 0 0px;
    -webkit-border-radius: 18px 18px 0 0px;
    -moz-border-radius: 18px 18px 0 0px;
    -ms-border-radius: 18px 18px 0 0px;
    -o-border-radius: 18px 18px 0 0px;
    box-shadow: 0px 0px 20px 8px #dbcbce;;
}
footer p {
    font-size: 15px;
    color: #ccb7bb ;
    padding: 22px;
    font-weight:500;
    text-transform: capitalize;
}

/* --------------------end footer----------------------------- */
